@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500);

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0E2F44;
  font-family: 'Orbitron', Arial, serif, sans-serif;
  position: relative;
  height: 100%;
}
#xray {
  text-align: center;
}
#me {
  height: 400px;
  box-shadow: 3px 5px 15px 0 black;
  margin-top: 20px;
}
#frame {
  cursor: none;
  border-radius: 60px;
  position: absolute;
  height: 100px;
  width: 130px;
  border: 5px solid darkgrey;
}
.title {
  text-align: center;
  color: white;
}

footer {
  margin-top: 25px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

footer img {
  opacity: 0.5;
}
