body {
  margin: 0;
  box-sizing: border-box;
}

#me {
  height: 400px;
}
#rx {
  /*height: 400px;*/
}
#frame {
  border-radius: 60px;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  border: 5px solid darkgrey;
}
